@import "tailwindcss";

@theme {
  --radius-r-10: 10px;
  --radius-r-40: 40px;
  --color-bg-color: #f6f6f6;
  --color-primary: #ffa12e; /* Yellow */
  --color-secondary: #c41230; /* Red */
  --color-light-grey: #878787; /* lightgrey */
  --text-10px: 10px;
  --text-22px: 22px;
  --breakpoint-coxs: 23.4375rem; /* 375px */
  --breakpoint-xs: 26.5625rem; /* 425px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 62rem; /* 992px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-coxl: 81.25rem; /* 1300px */
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-3xl: 103.75rem; /* 1660px */
}

@layer base {
  .lato-font {
    font-family: "Lato", sans-serif;
  }
}

@layer components {
  .slide-btn {
    @apply py-2 px-2 lg:py-4 lg:px-6  bg-white flex-grow justify-center  hover:text-white hover:bg-primary font-semibold 2xl:text-xl text-sm rounded-r-10 flex items-center;
  }
}
@layer components {
  .drop-down-btn {
    @apply bg-[#ffa12e] flex  items-center justify-between flex-grow  text-white font-semibold text-sm 2xl:text-[20px] py-2.5 px-3 2xl:py-3 2xl:px-6 rounded-[10px];
  }
}

@layer base {
  body {
    padding: 6px;
    font-family: "Lato", sans-serif;
  }
} 

/* input[type="checkbox"] {
    @apply relative border-[1.5px] border-[#878787] rounded-[2px] bg-transparent cursor-pointer isala opacity-40 transition-opacity;
  }
  

  input[type="checkbox"]:checked {
    @apply bg-[#ffa12e] opacity-100 border-none;
  }

  input[type="checkbox"]:checked + .checkbox-label,
  input[type="checkbox"]:hover + .checkbox-label {
    @apply opacity-100;
  }

  input[type="checkbox"]::before {
    content: "";
    @apply absolute top-1/2 right-1/2 w-[6px] h-[11px] border-[2px] border-white border-l-0 border-t-0 rotate-45 origin-center scale-0 peer-checked:scale-100 transition-transform;
  } */



 input[type="checkbox"] {
  position: relative;
  border: 1.5px solid #878787 ;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  isolation: isolate;
}

input[type="checkbox"]:checked {
  --checkbox-color: #ffa12e;
  background-color: #ffa12e ;
  opacity: 1;
  border: 0px;
}

input[type="checkbox"]:checked + .checkbox-label,
input[type="checkbox"]:hover + .checkbox-label {
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
} 
